.movies {
    position: relative;
  
    &__container {
      margin-left: 5rem;
    }
  
    & .fas {
      color: #fff;
      position: absolute;
      top: 50%;
      right: 3%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  
    &__list {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin: 3rem 0;
      overflow-x: scroll;

    }
  
    &__img {
      flex: 0 0 15%;
      cursor: pointer;
    }
}


::-webkit-scrollbar-thumb {
background-color: #fff;
}